In [1]:
#Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score,confusion_matrix
import seaborn as sns
import warnings
warnings.simplefilter("ignore")

In [2]:
#Importing the dataset
df=pd.read_csv('C:/Users/Yash/Desktop/Internship/iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
#Column names
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [4]:
#Checking for the null values
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [5]:
#Dropping unwanted columns
df = df.drop(columns = "Id")

In [6]:
#Statistical analysis of the data
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [7]:
#Count the number of occurrences
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [8]:
x = df.iloc[:,:4]
y = df.iloc[:,4]

In [9]:
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [10]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [11]:
#Splitting the data into training and testing dataset
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [12]:
x_train.shape

(112, 4)

In [13]:
y_train.shape

(112,)

In [14]:
x_test.shape

(38, 4)

In [15]:
y_test.shape

(38,)

In [16]:
#Creating classification model
clf=LogisticRegression()

In [17]:
clf.fit(x_train,y_train)

LogisticRegression()

In [18]:
y_pred=clf.predict(x_test)
y_pred

array(['Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica'], dtype=object)

In [19]:
df = pd.DataFrame({'Predicted': y_pred, 'True': y_test})
print(df)

           Predicted             True
114   Iris-virginica   Iris-virginica
62   Iris-versicolor  Iris-versicolor
33       Iris-setosa      Iris-setosa
107   Iris-virginica   Iris-virginica
7        Iris-setosa      Iris-setosa
100   Iris-virginica   Iris-virginica
40       Iris-setosa      Iris-setosa
86   Iris-versicolor  Iris-versicolor
76   Iris-versicolor  Iris-versicolor
71   Iris-versicolor  Iris-versicolor
134   Iris-virginica   Iris-virginica
51   Iris-versicolor  Iris-versicolor
73   Iris-versicolor  Iris-versicolor
54   Iris-versicolor  Iris-versicolor
63   Iris-versicolor  Iris-versicolor
37       Iris-setosa      Iris-setosa
78   Iris-versicolor  Iris-versicolor
90   Iris-versicolor  Iris-versicolor
45       Iris-setosa      Iris-setosa
16       Iris-setosa      Iris-setosa
121   Iris-virginica   Iris-virginica
66   Iris-versicolor  Iris-versicolor
24       Iris-setosa      Iris-setosa
8        Iris-setosa      Iris-setosa
126   Iris-virginica   Iris-virginica
22       Iris-setosa      Iris-setosa
44       Iris-setosa      Iris-setosa
97   Iris-versicolor  Iris-versicolor
93   Iris-versicolor  Iris-versicolor
26       Iris-setosa      Iris-setosa
137   Iris-virginica   Iris-virginica
84   Iris-versicolor  Iris-versicolor
27       Iris-setosa      Iris-setosa
127   Iris-virginica   Iris-virginica
132   Iris-virginica   Iris-virginica
59   Iris-versicolor  Iris-versicolor
18       Iris-setosa      Iris-setosa
83    Iris-virginica  Iris-versicolor

In [20]:
#Confusion matrix and performance metrics
confusion_matrix(y_test,y_pred)

array([[13,  0,  0],
       [ 0, 15,  1],
       [ 0,  0,  9]], dtype=int64)

In [21]:
accuracy=accuracy_score(y_test,y_pred)*100
print("Accuracy of the model is {:.2f}".format(accuracy))

Accuracy of the model is 97.37

In [22]:
precision = precision_score(y_test, y_pred, average='weighted')
print(f"Precision: {precision}")

Precision: 0.9763157894736842

In [23]:
recall = recall_score(y_test, y_pred, average='weighted')
print(f"Recall: {recall}")

Recall: 0.9736842105263158

In [24]:
f1 = f1_score(y_test, y_pred, average='weighted')
print(f"F1 score: {f1}")

F1 score: 0.9739522830846216